<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<form action="/login" method="post">
    <div style="position: absolute;margin-left: 750px;margin-top: 350px">
        <p>Account：<input type="text" name="name"></p>
        <p>Password：<input type="password" name="password"></p>
        <p><input type="submit" name = "behave" value="login" style="position: absolute;margin-left: 90px"></p>
       	<p><input type="submit" name = "behave" value="register" style="position: absolute;margin-left: 140px"></p>
        <p><input type="submit" name = "behave" value="update_password" style="position: absolute;margin-left: 205px"></p>
    </div>
</form>

<form action="/login" method="post">
    <div style="position: absolute;margin-left: 750px;margin-top: 350px">
        <p><input type="submit" name = "behave" value="delect account" style="position: absolute;margin-left: 335px"></p>
    </div>
</form>

<form action="/login" method="post">
    <div style="position: absolute;margin-left: 750px;margin-top: 380px">
        <p><input type="submit" name = "behave" value="search account" style="position: absolute;margin-left: 335px"></p>
    </div>
</form>


</body>
</html>