<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<form action="/update_password" method="post">
    <div style="position: absolute;margin-left: 750px;margin-top: 350px">
        <p>{{remind}}</p>
        <p>Account：<input type="text" name="account"></p>
        <p>Old Password：<input type="password" name="old_password"></p>
        <p>New Password：<input type="password" name="new_password"></p>
        <p><input type="submit" value="update" style="position: absolute;margin-left: 90px"></p>

    </div>
</form>
</body>
</html>